@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --font1: verdana;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
margin: 0px;
padding: 0px;
}

body{
    min-height: 100vh;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px 0px 0px 0x;
}

header h1{
    padding: 50px 0px 0px 0px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vh;
}
header > p{
    padding: 0px 0px 50px 0px;
    
}

section{
    text-align: left;
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 5vh;
}

section > p{
    padding-bottom: 2em;
}
section.semfoto{
    background-color: white;
    color: black;
}

section.imagens{
    color: white;
    background-color: black;
    box-shadow: inset6px 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    
}

section.imagens > p{
    background-color: rgba(0, 0, 0, 0.452);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1 px 0px black ;
    
}

section#img01{    
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}

section#img02{    
    background: black url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}